.itemCard {
  display: flex;
  flex-direction: column;
  color: black;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
}

.itemImage {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 8px;
}

.itemDetails {
  display: flex;
  flex-direction: column;

  height: 100%;
}

.itemName {
  font-size: 1.2rem;
  margin-bottom: 8px;
}

.itemPrice {
  font-weight: bold;
  margin-bottom: 8px;
}

.itemButton {
  background-color: #0015ff;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}
