nav {
  display: flex;
  width: 100dvw;
  flex-direction: column;
  justify-content: center;
  height: auto;
  background-color: #ffffff;
  color: white;
}

header h1 {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  color: #780000;
}
.nav-links {
  display: flex;
  justify-content: space-between;
  padding: 4px;
  align-items: center;
  gap: 1.5rem;
}
.container {
  display: grid;
  align-items: center;
  grid-template-columns: 4fr 1fr;
  padding: 0.5rem;
}
.cart-widget {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

@media (min-width: 768px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    width: 100dvw;
    height: auto;
  }

  header h1 {
    background-color: #ffffff;
    color: #780000;
    text-shadow: #fdf0d5 1px 1px 2px;
    padding: 1rem;
    text-align: center;
    font-size: 2.5rem;
  }

  nav {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    width: 100dvw;
    height: auto;
    background-color: #ffffff;
    color: white;
    padding: 1.5rem;
  }
  .nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .nav-links a {
    color: #780000;
    font-weight: bold;
    text-decoration: none;
    margin: 0 1rem;
  }

  .cart-widget {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
  }
}
