nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}
.contenedor_nav {
  padding: 0.5rem;
}
.nav_links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0.5rem;
  padding: 4px;
}
.nav_links p {
  padding: 8px;
  color: white;
  font-style: none;
  text-decoration: none;
  background-color: blue;
  border-radius: 8px;
}
